h2 {
    text-align: center;
}

#map {
    width: 90vw;                        /* Breite von 90% von Browser */
    height: 90vh;                       /* Höhe von 90% von Browser */
    border: solid black 1px;          /* Umrandung */
    margin: auto;                       /* Rand links und rechts gleich */
}

.label-textMarker {
    font-size: 1.2em;
    font-weight: bold;
    display: inline;                    
    padding: 0.3em;
    border: 1px solid gray;
    background-color: silver;
}


.snow-0 {
    background-color: #fff;
}
.snow-1 {
    background-color: #ffffb2;
}
.snow-2 {
    background-color: #b0ffbc;
}
.snow-3 {
    background-color: #8cffff;
}
.snow-4 {
    background-color: #19cdff;
}
.snow-5 {
    background-color: #1982ff;
}
.snow-6 {
    background-color: #0f5abe;
}
.snow-7 {
    background-color: #784bff;
}
.snow-8 {
    background-color: #cd0feb;
}



.wind-10 {
    background-color: green;
}

.wind-20 {
    background-color: orange;
}


